.Header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 32px;
  padding: 0 20px;
  font-style: italic;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.Icons {
  display: flex;
}